# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
.env/
.DS_Store

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.pdf

# Data
data/
# data-3951152/ (Uncommented to track paper)
scenarios/*/edgedata.xml
scenarios/*/tripinfo.xml
scenarios/*/routes.rou.xml
net/*.osm.xml
net/*.net.xml
models/*.pt
artifacts/
data/*.zip
wandb/
