# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
.env/
.DS_Store

data/
data-3951152/
scenarios/*/edgedata.xml
scenarios/*/tripinfo.xml
scenarios/*/routes.rou.xml
net/*.osm.xml
net/*.net.xml
models/*.pt
artifacts/
data/*.zip
